svg/
png/
pdf/
pair_grid_data_gsheet_link.txt
*.p
*.svg
*.png
*.pdf
*_png/
# NetCDF files, if used to save xarray intermediates
# TODO maybe remove this one. force adding some in the meantime
*.nc
ij_roi_stats.csv
remy/
*.log
logs/
*_8m/
*_6f/
GH146_*/
pebbled_*/
kc_model_sensitivity/
*6f_ijroi
test.tex
profile_output*

# Can be downloaded from Hong lab Dropbox at:
# 'HongLab @ Caltech/MB Model/Matt connectome analysis/MB-Convergence-Data_01-14-23'
# (excluded from repo b/c it's ~0.5GB)
MB-Convergence-Data_01-14-23

untracked/
