# TODO also want to install al_analysis itself? at end?
git+https://github.com/tom-f-oconnell/drosolf
git+https://github.com/ejhonglab/hong2p
git+https://github.com/tom-f-oconnell/suite2p
git+https://github.com/ejhonglab/natmix

# TODO test this? just assuming it won't work...
#
# May want to move this one to common-requirements.txt. See note in dev-requirements.txt
# TODO especially if i finish + want the cnpy support, will prob need to clone locally
# for that...
#git+https://github.com/ejhonglab/olfsysm

# NOTE: will need to `pip install -e .` (from within root of this repo, to get modules
# available for (at least) pytest code
