# See README for steps necessary before installing these dependencies.
# (to get suite2p set up well, via conda)

matplotlib>=3.6.0
seaborn>=0.12.0

colorama
termcolor

# Used to get total memory in plot_roi_util.py
psutil

tqdm

# You may replace this line with:
#git+https://github.com/tom-f-oconnell/drosolf
-e ../drosolf

#git+https://github.com/ejhonglab/hong2p
-e ../hong2p

#git+https://github.com/tom-f-oconnell/suite2p
-e ../suite2p

#git+https://github.com/ejhonglab/natmix
-e ../natmix

# Might not really by any point in installing this one editable...
#git+https://github.com/ejhonglab/olfsysm
-e ../olfsysm
