# 3.8 GB, and presumably APL_Pairwise_UNIT_Distances_2025-12-05-13-39-22.parquet has
# what I would want from this anyway (averaged within compartment [~microglomeruli])
APL_Pairwise_Node_Distances_2025-12-05-13-39-22.parquet
# 264 MB
MB-C1_Pairwise_Node_Distances_2025-12-05-13-39-22.parquet
