# subdirectories in this created by model_banana_iaa_concs.py, each with model outputs
# for one paramterization of the MB model
model_banana_iaa_concs/

# model outputs for model_diags_and_synthetic_mixes.py
diag_est-spike-deltas_for_yang/

# outputs from model_private_odors_for_kai_grant.py
kai_grant_model_outputs/

# outputs from model_yang_mixtures.py
yang_mix_outputs/

# benchmark_xarray_io.py output
xarray_netcdf_io_bench.csv

hh_output/
