# subdirectories in this created by model_banana_iaa_concs.py, each with model outputs
# for one paramterization of the MB model
model_banana_iaa_concs/

# model outputs for model_diags_and_synthetic_mixes.py
diag_est-spike-deltas_for_yang/

# covers outputs from:
# - model_prive_odors_for_kai_grant.py
# - model_yang_mixtures.py
# - model_george_valence_panel.py
*_outputs/

# benchmark_xarray_io.py output
xarray_netcdf_io_bench.csv

# covers output from (so far) sim_hh_kcs.py
*_output/

megamat_multiresponder_apl_boost/
